.App {
  text-align: center;
  width: 410px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.greyBlock{
    background: grey;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid grey;
}
.transparentBlock{
    background: transparent;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    font-size: 40px;
}